article{
    a {
        text-decoration: none;
        color: #a0a7a7;
    }

    h1 {
        font-size: 1.5rem;
        margin-bottom: .9rem;
    }

    h2 {
        font-size: 1.2rem;
        margin-bottom: .9rem;
    }

    code {
        color: silver;
        font-size: 1.1rem;
    }
}
