$body-bg: #121618; 
$body-color: silver;
$body-image: url('/background.png');

$background-image-ratio: calc(838 / 1510); 
$background-image-height: 100vh; 
$background-image-width: calc($background-image-height * $background-image-ratio);

$main-margin-right: calc($background-image-width * .8);
$article-width: clamp(700px, calc(100vw - $background-image-width - 3rem), 80ch);

$middle-point: calc($main-margin-right + 700px + 3rem);

$wide-point: calc($main-margin-right * 2 + 700px);
$wide-point-padding-right: 15%;

$header-title-font-size: 4.5rem;
$header-subtitle-font-size: 1.7rem;
$header-height: 10rem;

$footer-padding-top: .3rem;
$footer-height: 2rem;

$link-color: cornflowerblue;
$max-media-width: 690px;
